apache-libcloud==0.20.0
backports.ssl-match-hostname==3.5.0.1
dj-database-url==0.3.0
dj-libcloud==0.2.0
Django==1.9
gunicorn==19.4.1
psycopg2==2.6.1
python-decouple==3.0
django-extensions==1.6.1
django-test-without-migrations==0.4
pytz